*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a.nav-link{
    margin: 15px;
    font-size: 16px;
}
 .nav-link:hover{
    color: #28ABE3 !important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.90);
}
/*-----------------------one----------------------------------------------------------------------- */
.oneh{
    width: 100%;
    height: 30vh;
    color: #fff;
    /* margin-left: 19%; */
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.75)),url(/photo/services/about-header.jpg);
    background-size: cover;
    
}
.oneh p{
    width: 700px;
}
.oneh h5{
    padding-top: 80px;
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    font-size: 2rem;
}
.onebread{
    margin-left: 46%;
   font-size: 20px;
}
.breadcrumb-item a{
    text-decoration: none;
}
@media screen and (min-width:320px) and (max-width:480px) {
    .oneh h5{
        padding-top: 40px;
      
        font-size: 30px;
    } 
    .onebread{
        margin-left: 27%;
       font-size: 16px;
    }
    
}
/*-----------------------two----------------------------------------------------------------------- */
.page2{
    height: 145vh;
    /* background-color: blue; */
    padding-top: 40px;
    
}
.fun{
    width: 700px;
}
.fun p{
    font-family: "Source Sans Pro", sans-serif;
    color: #848484;
    font-size: 16px;
    line-height: 1.65;
    position: relative;
}
.fun p::after{
content: "";
width: 100px;
height: 2px;
background-color:#848484;
position: absolute;
left: 40%;
top:80px;
}
.fun h2{
    font-weight: 600;
    font-size: 35px;
    color: #232323;
    font-family: "Catamaran", sans-serif;
}

.pagethreeall{
    width: 25%;
    height: 400px;
    position: relative;
}
.pagedesignone img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* height: 500px; */
}
.pagedesigntwo{
    position: absolute;
    width: 94%;
    top: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.75));
    opacity: 0.5;
    height: 390px;
    z-index: -1;
    text-align: center;
    transition: all 0.2s;
}
.pagedesignthree  button{
   margin-top: 40%;
   border-radius: 50%;
   border: none;
   width: 50px;
   height: 50px;
   opacity: none;
   background-color: #28ABE3;
}
.pagedesignthree p{
    font-size: 20px;
    color: #fff;
}
.pagethreeall:hover .pagedesigntwo{
    z-index: +1;
}
.pagethreeall:hover .pagedesignthree{
    z-index: +2;
}
.pagedesignthree{
    position: absolute;
    width: 94%;
    top: 0px;
    /* background-color: #b31e1e; */
    /* opacity: 0.5; */
    height: 390px;
    z-index: -1;
    text-align: center;
    transition: all 0.2s;
}


.carousel-control-next-icon {
    background-image: url(/photo/services/next.png);
    width: 100px;
    height: 75px;
    opacity: 0.1;
}
  .carousel-control-next-icon:hover  {
   
    opacity: 1 !important;
}
/* .carousel-control-next, .carousel-control-prev{
    width: 40%;
    margin: 0;
} */


.carousel-control-prev-icon {
    background-image: url(/photo/services/prev.png);
    width: 100px;
    height: 75px;
    opacity: 0.1;
}
.carousel-control-prev-icon:hover  {
   
    opacity: 1 !important;
}
/* .modal-body{
    width: 1000px;
    height: 1000px;
} */
.page2totalbutt{
    margin-left: 35%;
    margin-top: 60px;
    margin-bottom: 40px!important;
    
}

/*-----------------------mediascreen----------------------------------------------------------------------- */
@media screen and (min-width:320px) and (max-width:480px) {
    .fun p::after{
      
        left: 32%;
        top:110px;
        }
        .fun h2{
          
            font-size: 25px;
        
        }
        .fun p{
         
            font-size: 15px;
           
        }
        .fun{
            width: 100%;
            
        }

        .page2{
           /* background-color: #28ABE3; */
            width: 100%;
            height: 100%;
            
        }
        .modaltop{
            width: 100%;
            height: 100%;
        }
        .pagethreeall{
            width: 100%;
            height: 100%;
        }
        .pagedesigntwo{
            width: 92%;
            height: 100%;
           
        }
        .carousel-control-next-icon {
            height: 50px;
        }
        .carousel-control-prev-icon {
            height: 50px;
        }
        .page2totalbutt{
            margin-left: 0;
        }
        .pagedesignthree{
            height: 100%;
            
        }
    
}

/*-----------------------four----------------------------------------------------------------------- */
.page6{
    background-image: linear-gradient(#28ABE3 70%,#fff 30%);
    width: 100%;
    height: 65vh;
}
.page6h span{
   font-size: 80px;
   color: #fff;
}
.page6h p{
    font-size: 16px;
    color: #fff;
    width: 900px;
 }
 .page6h h3{
    font-size: 30px;
    width: 900px;
 }
 .page6h img{
    margin-top: 25px;
 }
 /*-----------------------mediascreen----------------------------------------------------------------------- */
@media screen and (min-width:320px) and (max-width:480px) {
    .page6{
        background-image: linear-gradient(#28ABE3 78%,rgb(247, 244, 244) 22%);
        width: 100%;
        height: 100%;
        
    }
    .page6h span{
        font-size: 40px;
        color: #fff;
        padding: 0;
        margin: 0;
     }
     .page6h p{
        font-size: 13px;
        color: #fff;
        width: 100%;
        padding: 0;
        margin: 0;
     }
     .page6h h3{
        font-size: 20px;
        width: 100%;
     }

 
}
 /*-----------------------foot----------------------------------------------------------------------- */
.foot{
    background-image: linear-gradient(#232323 75%,#1b1b1b 25%);
    height: 47vh;
}
.footp{
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 13px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 1px;
  
}
.footp a{
    text-decoration: none;
    font-size: 13px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 1px;
}
.footp a:hover {
    color: #28ABE3;
}
.footbox{
    margin-top: 80px;
}
.footbox h6{
    margin-bottom: 20px;
    color: #bdbdbd;
}
.footdown{
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footdown h6{
    font-size: 12px;
    line-height: 1;
    color: #888888;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 7px;
    margin-bottom: 10px;
    
}
.footdown p{
    font-size: 11px;
    line-height: 15px;
    color: #888888;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    
}

/*-----------------------foot-mediascreen----------------------------------------------------------------------- */
@media screen and (min-width:320px) and (max-width:480px) {
    .foot {
        height:200% !important;
        /* display: flex;
        flex-direction: row; */
        background-image: linear-gradient(#232323 90%,#1b1b1b 10%);
    }
    .footbox p{
        height: 100% !important;
        width:200px !important ;
        font-size: 12px;
        /* margin-top: 20px !important; */
    }
    .footbox{
        margin-top: 20px !important;
    }
    .footp a{
        font-size: 10px;
       
    }
    
}




